html {
  font-family: Helvetica, sans-serif;
}
body {
  background-color: #FF8C00;
}
.container {
  box-sizing: border-box;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

.container h1 {
  font-size: 5em;
  font-weight: lighter;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: -3%;
}

.container h4 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#home-img {
  width: 109px;
  margin: 0 auto;
}
#orangutan {
  opacity: 0.5;
  text-align: center;
  height: 180px;
}

#create, #take {
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5%;
  /*padding: 5% 10% 5% 10%;*/
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

nav {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #FFF;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.5em;
}

nav li a:hover {
  color: white;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
  text-align:center;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.choices {
  list-style: none;
  border: none;
}

#sign-in, #sign-up {
  position: relative;
  display: inline-block;
  margin-top: 10%;
  margin-left: 37%;
}

#sign-up{
  margin-left: 15%;
}

#sign-up .submit {
  margin-left: 25%;
  margin-top: 5%;
}

input[type="submit"] {
  margin-left: 4%;
}
