html {
  font-family: Helvetica, sans-serif;
}
body {
  background-color: #FF7F00;
}
.container {
  box-sizing: border-box;
  margin: 3% auto;
  max-width: 800px;
}

.container h1 {
  font-size: 5em;
  font-weight: lighter;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: -3%;
}

.container h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.container h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
}

.container h4 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}


#home-img {
  width: 109px;
  margin: 0 auto;
}
#orangutan {
  opacity: 0.5;
  text-align: center;
  height: 180px;
}

#orangutan:hover {
  opacity: 0.65;
}

.create, .take, .delete {
  box-sizing: border-box;
  width: 320px;
  height: 75px;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2%;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FF7F00;
  border: none;
}

.create:hover, .take:hover, .delete:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

nav {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
}

nav .brand {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 40%;
}

nav .brand #logo {
  box-sizing: border-box;
  height: 50px;
  margin-left: 5%;  
}

nav .brand #brand-header {
  display: block;
  margin-top: -9%;
  margin-left: 15%;
  font-weight: bold;
  color: #FF7F00;
}

nav ul {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: #FF7F00;
  z-index: 10;
  text-decoration: none;
  font-size: 1.5em;
}

nav li a:hover {
  color: rgba(0, 0, 0, 0.85);
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
  text-align:center;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.choices {
  list-style: none;
  border: none;
}

#sign-in, #sign-up {
  position: relative;
  display: inline-block;
  margin-top: 10%;
  margin-left: 37%;
}

#sign-up{
  margin-left: 15%;
}

#sign-up .submit {
  margin-left: 25%;
  margin-top: 5%;
}

/*input[type="submit"] {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FF8C00;
  width: 320px;
  height: 75px;
  margin-top: 5%;
}*/



footer {
  box-sizing: border-box;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FF7F00;
  width: 100%;
  height: 30px;
  z-index: 100;
}

footer h6 {
  padding-top: 7px;
  font-weight: lighter;
  text-align: center;
}

.profile-welcome, .survey-name, .survey-stats {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

p {
  text-align: center;
}

p a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.5em;
}

p a:hover {
  color: rgba(0, 0, 0, 0.75);
}

.surveys {
  list-style: none;
}
.surveys li {
  list-style: none;
  font-size: 1.5em;
  text-align: center;
}

.surveys li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  list-style: none;
}

.surveys li a:hover {
  color: rgba(0, 0, 0, 0.75);
}


#takesurvey li {
  color: rgba(0, 0, 0, 0.5);
}

.survey-graph {
  margin: 0 auto;
}






