<div class = "container">
  <h2 class="profile-welcome">Welcome back, <%= @user.email %>!</h2>
  <h4>Your Surveys</h4>
    <% @user.surveys.each do |survey| %>
    <p class="profile-surveys"><a href="/surveys/<%= survey.id %>/info"><%= survey.name %></a></p>
    <% end %>

   <form action="/surveys/new" method="get">
      <input class="create" type="submit" value="Create Survey">
    </form>

</div>
