<div class = "container">
  <h2>Welcome back, <%= @user.email %>!</h2>
    <% @user.surveys.each do |survey| %>
    <p><a href="/surveys/<%= survey.id %>/info"><%= survey.name %></a></p>
    <% end %>

   <form action="/surveys/new" method="get">
      <input type="submit" value="Create Survey">
    </form>

</div>
