<div class = "container">
  <div id = "entire_form">
  <div>
      <label>Name:</label> <input type="test" id="title" size= "45" name="name" placeholder="Name" value="<%=h @survey.name %>">
  </div>
  <ol id="question-list">
    <% if @survey.questions.count == 0 %>
      <%= erb :"surveys/_question", locals: {question: Question.new} %>
    <% else %>
      <% @survey.questions.each do |question| %>
        <%= erb :"surveys/_question", locals: {question: question} %>
      <% end %>
    <% end %>
  </ol>
  <input class="add-question" type="button" value="Add Question">
  <input type="submit" id= "save" value="Save">
  </div>
</div>
