<li>
  <label>Question:</label> 
  <input type="text" class="questions" size= "60" name="questions[][text]" placeholder="Enter a question" value="<%=h question.text %>">
  <input class="add-choice" type="button" value="+">
  <input class="remove-question" type="button" value="x">
  <ol>
    <% if question.choices.count == 0 %>
      <% erb :"surveys/_choice", locals: {choice: Choice.new} %>
    <% else %>
      <% question.choices.each do |choice| %>
        <%= erb :"surveys/_choice", locals: {choice: choice} %>
      <% end %>
    <% end %>

  </ol>
 </li>
