<li>
  <label>Question:</label> <input type="text" name="questions[][text]" placeholder="Enter a question">
  <ol>
    <%= erb :"surveys/_choice" %>
    <%= erb :"surveys/_choice" %>
  </ol>
  <input class="add-choice" type="button" value="Add Choice">
 </li>