<form name = "createSurvey" action = "/surveys/new" method = "post">
	<label>Question:</label><input type = "text" name = "question">
	<input type = "text" name = "choices[choice1]" placeholder = "enter choice ">
</form>


