<div class="container">
  <h1>ORANGE-A-THANG</h1>
  <h4>The easiest way to create and share surveys. More fun than a barrel of monkeys.</h4>
  <div id="home-img">
    <img id="orangutan" src="../media/orangutan.png">
  </div>
  <form method="get" action="/surveys/new">
    <input id="create" type="submit" value="CREATE A SURVEY">
  </form>
  <form method="get" action="/surveys">
    <input id="take" type="submit" value="TAKE A SURVEY">
  </form>

</div>
