<div class="container">
  <h1>ORANGE-A-THANG</h1>
  <h4>The easiest way to create and share surveys. More fun than a barrel of monkeys.</h4>
  <div id="home-img">
    <a href="http://www.czs.org/CZS/Brookfield/Exhibit-and-Animal-Guide/Tropic-World/Orangutan" target="_blank"><img id="orangutan" src="../media/orangutan.png"></a>
  </div>
  <form method="get" action="/surveys/new">
    <input class="create" type="submit" value="CREATE A SURVEY">
  </form>
  <form method="get" action="/surveys">
    <input class="take" type="submit" value="TAKE A SURVEY">
  </form>
</div>
<footer>
  <h6>&copy; Copyright Flock of Squirrels Studios 2014</h6>
</footer>
