<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <span class="brand">
      <img id="logo" src="../media/orange-orangutan-hi.png">
      <h2 id="brand-header">ORANGE-A-THANG</h2>
    </span>
    <ul>
      <% if current_user %>
        <li><a id="home" href="/">Home</a></li>
        <li><a id="profile" href="/users/<%= current_user.id %>">Profile</a></li>
        <li><a id ="surveys" href="/surveys">Surveys</a></li>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>
      <% else %>
        <li><a href="/">Home</a></li>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
