<div class="container">
  <h1>Sign In</h1>


  <form id="sign-in" method="post" action="/sessions">

    <input type="email" name="email" placeholder="Insert Email" value="<%= @email %>"><br>

    <input type="password" name="password" placeholder="password">
    <br>
    <div class="submit"><input type="submit" value="Sign In"></div>
  </form>

  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>

</div>
